html, body {
	height: 100%;
}

.albumdetails{
  max-height: 600px;
  /* -webkit-transition: max-height 0.5s; */  /* uncomment for animated transition */
  /* -moz-transition: max-height 0.5s; */
  /* transition: max-height 0.5s; */
  overflow: hidden;
  padding: 20px;
}

.albumdetails.hidethisbooger {
  /* max-height: 0; */ /* uncomment to animate */
  display: none;
}

.albumdetails > div {
  background: #FFFFFF;
  box-shadow: 0 0 15px #234050;
  -moz-box-shadow: 0 0 15px #234050;
  -webkit-box-shadow: 0 0 15px #234050;
}

.albumHeader {
    border-bottom: 2px solid #a7a7a7;
    padding-left: 10px;
    font-weight: bold;
}

.albumRow {
    border-top: 1px solid #a7a7a7;
    padding-top: 6px;
    padding-left: 10px;
}

.albumRow:nth-child(even) {
  background: #fff5bd;
}

.albumRow:nth-child(odd) {
  border-top: 1px solid #c6c6c6;
}

textarea {
  resize: none;
}
