<md-content class="md-padding" layout-wrap>

    <!-- header row -->
    <div layout="row" flex="100" class="albumHeader">
        <div flex="50"
             flex-gt-xs="45"
             flex-gt-sm="30">
            <p>Album Name</p>
        </div>
        <div hide show-gt-xs
             flex-gt-xs="25"
             flex-gt-sm="20">
            <p>Artist</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>Genre</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>Owner</p>
        </div>
        <div flex="30"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>Last Listen</p>
        </div>
        <div flex="20"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>Listens</p>
        </div>
    </div>

    <!-- table row content loop -->
    <div layout="row" flex="100" class="albumRow"
         ng-repeat="album in albums | filter:userFilter | orderBy:'albumName' ">
        <div flex="50"
             flex-gt-xs="45"
             flex-gt-sm="30">
            <p><a ng-click="openSidebar()" style="cursor: pointer; text-decoration: underline;"> {{ album.albumName }} </a></p>
        </div>
        <div hide show-gt-xs
             flex-gt-xs="25"
             flex-gt-sm="20">
            <p>{{ album.albumArtist }}</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>{{ album.albumGenre }}</p>
        </div>
        <div hide show-gt-sm
             flex-gt-sm="15">
            <p>{{ album.albumOwner }}</p>
        </div>
        <div flex="30"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>{{ album.albumLastListen }}</p>
        </div>
        <div flex="20"
             flex-gt-xs="15"
             flex-gt-sm="10">
            <p>{{ album.albumNumberListens }}</p>
        </div>
    </div>
</md-content>