<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
    <div>
        <h3>{{ album.albumName }}</h3>

        <div flex="15"></div>
        <div flex="85">
            <p> Album ID# : {{ album._id }} </p>
        </div>
        
        <form>
            <div layout="column">
                <div layout="row">
                    <div layout="column">
                        <md-input-container>
                            <label for="newName">Album Name</label>
                            <input type="text" id="newName"
                                   placeholder="{{ album.albumName }}"
                                   ng-model="updateData.newName" md-autofocus>
                        </md-input-container>
                        <md-input-container>
                            <label for="newArtist">Artist</label>
                            <input type="text" id="newArtist"
                                   placeholder="{{ album.albumArtist }}"
                                   ng-model="updateData.newArtist" />
                        </md-input-container>
                        <md-input-container>
                            <label for="newGenre">Genre</label>
                            <input type="text" id="newGenre"
                                   placeholder="{{ album.albumGenre }}"
                                   ng-model="updateData.newGenre" />
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <label for="newOwner">Owner</label>
                            <input type="text" id="newOwner"
                                   placeholder="{{ album.albumOwner }}"
                                   ng-model="updateData.newOwner" />
                        </md-input-container>
                        <md-input-container>
                            <label for="newLastListen">Last Listen</label>
                            <input type="text" id="newLastListen"
                                   placeholder="{{ album.albumLastListen }}"
                                   ng-model="updateData.newLastListen" />
                        </md-input-container>
                        <md-input-container>
                            <label for="newListens">Listens</label>
                            <input type="text" id="newListens"
                                   placeholder="{{ album.albumNumberListens }}"
                                   ng-model="updateData.newListens" />
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex="80">
                        <label for="newNotes">Notes</label>
                        <textarea rows="3">Album notes will go here once implemented...</textarea>
                    </md-input-container>
                </div>
            </div>


<div class="form-group">
<div class="col-xs-2"></div>

<div class="col-xs-1">
    <button type="submit" class="btn btn-default btn-sm" ng-click="updateAlbum(album._id)">Update</button>
</div>
</div>

</form>

</div>
</md-bottom-sheet>