<!-- ===================== HEADER AND ALBUM COUNT ===================== -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-primary md-raised" ng-click="openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            Add <span hide show-gt-xs>Album</span>
        </md-button>

        <span>Total Albums: {{ albums.length }} </span>

    </div>
</md-toolbar>

<!-- ============================ SIDENAV ============================= -->
<left-side-nav></left-side-nav>

<!-- =========================== ALBUM LIST =========================== -->
<album-list></album-list>